body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 208, 206);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    background-color:rgb(25, 25, 61);
    color: whitesmoke;
    padding: 20px;
    text-decoration: underline;
}

h2{
    margin: 5px;
    background-color: rgb(133, 216, 255);
    padding: 15px;
    font-style: italic;
}

span{
    color: whitesmoke;
}


.container{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.grid{
    display: flex;
    flex-wrap: wrap;
    color: rgb(25, 25, 61);
    width: 600px;
    height: 600px;
    margin-bottom: 45px;
}

.square{
    width: 150%;
    height: 35%;
    border-style: solid;
    border-color: maroon;
}

.grid > div{
    flex: 1 1 190px;
}



.makima{
    background-image: url(Images/makima_by_merueki_de4m2q9-350t.jpg);
    background-size: cover;
}
